@media(min-width: 320px) and (max-width:768px) {

    header{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-items: center;
    }
    header
    header > ul {
        display:none;
    }
    header > ul > li {
        display:none;

    }


    #color-section{
        width:80vw;

    }


}